
/***********************
	HEADER
***********************/

.team_header {
	font-size: 30px;
	font-weight: 300;
	width: 100%;
	padding-top: 50px;
}

@media screen and (max-width: 900px) {
	.team_header {
		text-align: center;
	}
}

/***********************
	CONTAINER
***********************/

.team_members_container {

	margin: 0 auto;
	padding-top: 30px;
	width: 100%;
	text-align: center;
}

/***********************
	TEAM MEMBER
***********************/

.team_member_container {
	display: inline-block;
	float: none;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.team_member_image {
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

@media screen and (max-width: 900px) {
	.team_member_image {
		width: 100px;
		height: 100px;
	}
}

.team_member_text {
	text-align: center;
	line-height: 20px;
}

.team_member_name {
	margin-top: 5px;
	font-weight: 400;
}

.team_member_position {
	font-weight: 300;
}











